:root {
  --codecopy-bg: #3c3c3c;
  --codecopy-fg: #e4e4e4;
  --codecopy-border: #e4e4e4;
  --codecopy-opacity: 0.7;
  --codecopy-copied: #3cb371;
}

pre:has(code) {
  position: relative;
}

.codecopy {
  position: absolute;
  top: 8px;
  right: 8px;
  background: var(--codecopy-bg);
  color: var(--codecopy-fg);
  border: 1px solid var(--codecopy-border);
  border-radius: 5px;
  opacity: var(--codecopy-opacity);
  padding: 4px;
}

.codecopy:hover {
  opacity: 1;
  cursor: pointer;
}

.codecopy.copied {
  color: var(--codecopy-copied);
  border: 1px solid var(--codecopy-copied);
}
